/* TODO: Make it awesome */


table {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
}
td, th {
  /* border: 2px slategray solid; */
  padding: .5em;
  text-align: left;
}

/* colors

#272643
#ffffff
#e3f6f5
#bae8e8
#2c698d

*/

